
@keyframes slideUp {
  from {
    transform: translate3d(0, 100%, 0);
    /* transform: translate(0, 10vh); */
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
    /* transform: translate(0, 0); */
    opacity: 1;
    margin-top: -50px;
  }
}
