.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.cards-section--marginTop {
  margin-top: var(--section-marginTop);
}

.card {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease, transform 1s ease;
  width: 100%;
}

.card.visible {
  opacity: 1;
  transform: translateY(0);
  animation-name: slideUp;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.card__img-container {
  position: relative;
}

.cards-container .card:nth-of-type(2) .card__img-container {
  margin-top: 20px;
}

.cards-container .card:nth-of-type(3) .card__img-container {
  margin-top: 40px;
}

.card__image {
  vertical-align: bottom;
  width: 100%;
}

.card__text {
  background-color: var(--card-textBackground);
  padding: 50px;
}

.card__title {
  font-size: 32px;
  line-height: 30px;
  font-weight: 100;
  color: var(--card-title);
  padding-bottom: 15px;
}

.card__p {
  color: var(--card-text);
  font-weight: 100;
}
