@import './blocks/reset.css';
@import './blocks/header.css';
@import './blocks/logo.css';
@import './blocks/menu.css';
@import './blocks/container.css';
@import './blocks/language-switcher.css';
@import './blocks/top-actions.css';
@import './blocks/text.css';
@import './blocks/arrow.css';
@import './blocks/footer.css';
@import './blocks/informatial.css';
@import './blocks/partners.css';
@import './blocks/nav-menu.css';
@import './blocks/card.css';
@import './blocks/animation.css';
@import './blocks/profit.css';

html,
body {
  font-family: 'Nunito Sans', sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}


#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
  user-select: none;
}

:root {
  --main-white-color: #fff;
  --background-blocks-color: #f0f0f0;
  --background-partners-color: #cccccc;
  --font-size: 2rem;
  --boxes-size: 40px;
  --section-marginTop: 100px;
  --card-textBackground: #e2f3e4;
  --card-title: #076e07;
  --card-text: #c0bbbb;
}

